.menu {
  display: flex;

  padding: 1em 10em;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;

  .nav-principal {
    margin-right: 10px;
    & a {
      padding: 5px 50px;
      border-radius: 2em;
      font-size: 20px;
      &:hover {
        background-color: $backgroundYellow;
        color: $fontColorBlack;
        font-weight: bolder;
        transition: 0.1s;
      }
    }
  }
}
.ativo {
  background-color: rgba(20, 20, 20, 10) !important;
}
#menu {
  background-color: rgba(20, 20, 20, 0.4);
  transition: all 500ms linear;
}
